@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-md-4">
        <h2>Fornecedores:</h2>
    </div>
    <div class="col-md-8">
        <form class="form-inline">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Horário</th>
                    <th>Cliente</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20/03/2018</td>
                    <td>14:50</td>
                    <td>Hospital das Clinicas</td>
                    <td>Ganhou</td>
                </tr>
                <tr>
                    <td>25/03/2018</td>
                    <td>12:30</td>
                    <td>Hospital das Clinicas</td>
                    <td>Ganhou</td>
                </tr>
                <tr>
                    <td>28/03/2018</td>
                    <td>15:00</td>
                    <td>Hospital das Clinicas</td>
                    <td>Perdeu</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success">Adicionar Fornecedor</button>
    </div>
</div>

